In [1]:
import requests
from rest_framework import status
import json
import pandas

WORKDIR = 'C:/Users/Paulo/Desktop/infnet-projeto-final/mit_data_science/'


taxi_data = WORKDIR + '/Data/Processed/nyctaxi_data_analysis_green.parquet'

number_of_taxis = 10

base_url = 'http://127.0.0.1:8000/'

# Recuperar Dados

In [2]:
data = pandas.read_parquet(taxi_data).sample(number_of_taxis)
data['idTaxi'] = data['pickup_latitude'].astype(str)+'_'+data['pickup_longitude'].astype(str)+'_'+data['day_of_year'].astype(str)+'_'+data['year'].astype(str)
print(data.shape)
data.head()

(40, 13)

,dropoff_latitude,dropoff_longitude,fare_amount,passenger_count,pickup_latitude,pickup_longitude,hour_of_day,day_of_week,day_of_year,year,eucl_distance,manh_distance,idTaxi
6238,40.683361,-73.819733,8.5,1,40.700176,-73.807358,23,5,341,2013,2.141834,3.246806,40.70017623901367_-73.80735778808594_341_2013
5386,40.732159,-73.900146,7.0,1,40.746586,-73.891380,23,1,217,2014,1.766629,2.579793,40.746585845947266_-73.8913803100586_217_2014
6564,40.734089,-73.952141,18.0,1,40.730370,-73.862358,2,2,331,2013,7.578756,10.400217,40.730369567871094_-73.86235809326172_331_2013
5415,40.750446,-73.994659,21.0,1,40.712055,-73.961227,10,6,362,2014,5.116200,7.988874,40.71205520629883_-73.96122741699219_362_2014
6689,40.755939,-73.980644,33.5,5,40.714958,-73.831635,11,5,243,2013,13.360530,21.132667,40.71495819091797_-73.83163452148438_243_2013

In [3]:
data.dtypes

dropoff_latitude     float64
dropoff_longitude    float64
fare_amount          float64
passenger_count        int32
pickup_latitude      float64
pickup_longitude     float64
hour_of_day            int64
day_of_week            int64
day_of_year            int64
year                   int64
eucl_distance        float64
manh_distance        float64
idTaxi                object
dtype: object

# Post data

In [7]:
url = base_url + 'taxi/'

for i, row in data.iterrows():
    post_data = row.to_dict()
    response = requests.post(url, post_data)

    if response.status_code == status.HTTP_400_BAD_REQUEST:
        print('Tarifa ja existente')

In [8]:
post_data

{'dropoff_latitude': 40.69369125366211,
 'dropoff_longitude': -73.9076156616211,
 'fare_amount': 7.0,
 'passenger_count': 1,
 'pickup_latitude': 40.706634521484375,
 'pickup_longitude': -73.92298889160156,
 'hour_of_day': 0,
 'day_of_week': 5,
 'day_of_year': 362,
 'year': 2013,
 'eucl_distance': 1.9373348167819262,
 'manh_distance': 3.1496393282451653,
 'idTaxi': '40.706634521484375_-73.92298889160156_362_2013'}